<!doctype html>
<html>

<head>
  <title>To Do List Beta</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <main id="app" class="box container">
    <h1 class="title is-1">To Do</h1>
    <draggable :list="items" class="dragArea">
      <div class="card" v-for="item in items">
        <div class="card-content">
          <p class="item-text" contenteditable="true">{{item.message}}</p>
          <p class="delete" contenteditable="false" v-on:click="removeItem(item)"></p>
        </div>
      </div>
    </draggable>
    <div class="push"></div>
    <form id="newItemForm" v-on:submit.prevent="newItemMethod">
      <div id="newItem" class="field">
        <label class="label">Create a new item</label>
        <div class="control">
          <input class="input" type="text" required v-model="newItem" placeholder="Buy apples">
        </div>

      </div>

    </form>

  </main>
  <script src="vue.min.js"></script>
  <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>

  <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
  <script src="main.js"></script>
</body>

</html>
