.delete {
  display: inline;
  color: red;
  opacity: 0.6;
  transition-duration: 0.2s;
  float: right;
}

.delete:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 0.2s;
}

.listItem p:focus {
  outline: none;
}

body, html, #app {
  height: 100%;
  font-family: Sans-Serif;
  overflow-y: hidden;
}

main {
  height: 100%;
  padding-top: 5%;
}

.item-text {
  display: inline;
  width: auto;
  border: none;
}

.item-text:focus {
  outline: none;
}

#newItemForm {
  margin-top: 5px;
}

#listContainer {
  height: 70%;
  width: 100%;
}

.dragArea {
  overflow-y: scroll;
  height: 100%;
  padding: 1%;
}

#formContainer {
  height: 15%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.done {
  opacity: 0.5;
}